@font-face {
  font-family: "MoabhoersFF";
  src: url('../MoabhoersFF/SwistblnkMoabhoers.ttf') format("truetype");
}

@font-face {
  font-family: "Monthoers";
  src: url('../Monthoers/Monthoers.ttf') format("truetype");
}

@font-face {
  font-family: "Troika";
  src: url('../Troika/troika.otf') format("opentype");
}

html {
  font-size: 16px;
}

body, html {
  padding: 0;
  margin: 0;
}

.bg {
  background: linear-gradient( rgba(149,209,222,1) 32%, rgba(245,248,230,1) 48%, rgba(228,223,206,1) 69%, rgba(142,96,84,1) 87%, rgba(93,24,16,1) 100%);
  height: 100%;
  padding: 0;
}

.container {
  background: url('../images/gradient.svg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

a {
  text-decoration: none;
}

header {
  width: 100%;
  overflow: hidden;
  position: fixed;
  top: 0px;
  margin: 0;
  padding: 0 .5rem;
  background: #fec23b;
  /* opacity: .9; */
  text-align: right;
}

.cta {
  display: inline-block;
  width: 30%;
  padding: 0 3rem 0 0;
  font-family: Monthoers;
  color: #fff;
  font-size: 1.5rem;
  letter-spacing: .1rem;

  /* letter-spacing: 3px;
    font-weight: 700;
    font-size: 1.2rem; */
}

.cta-link {
  text-decoration: none;
  color: #fff;
  /* -webkit-animation:colorchange 20s infinite alternate; */

  /* animation: brownwhite 1s ease infinite alternate; */
  /* -webkit-animation:brownwhite 5s infinite alternate; */
}

.flash {
  -webkit-animation:brownwhite 5s infinite alternate;

}



@-webkit-keyframes brownwhite {
  0% {
    color: #fff;
  }
  50% {
    color: #85342f;
  }
/*
  100% {
    color: #fff;
  }

  50% {
    color: #85342f;
  } */
}

@-webkit-keyframes whitebrown {
  0% {
    color: #85342f;
  }
  50% {
    color: #fff;
  }

  100% {
    color: #85342f;
  }
}

.heading-section {
  text-align: center;
}

.logo {
  display: block;
  width: 70vw;
  max-width: 70%;
  margin: 0 auto;
  padding: 6% 0 0;
}

.date-time {
  width: 55vw;
}

@media screen and (max-width: 650px) {
  .date-time {
    width: 88vw;
    margin-top: 1rem;
    margin-left: 1rem;
  }
}

  /* .subheading {
    font-family: Monthoers;
    color: #fff;
    font-size: 6rem;
    margin: 4% 0 0;
    display: block;
    text-align: center;
  } */

@media screen and (max-width: 650px) {
  .subheading {
    font-size: 2rem;
  }
}

.date {
  display: inline-block;
}

@media screen and (max-width: 650px) {
  .date {
    display: block;
    margin: 4% 0 2%;
  }
}

.time {
  display: inline-block;
}

@media screen and (max-width: 650px) {
  .time {
    display: block;
    margin: 0;
  }
}

.starburst {
  width: 110px;
}

.menu-section {
  margin: 0 auto;
  padding: 1%;
  text-align: center;
}

@media screen and (min-width: 650px) {
  .music,
  .food {
    width: 50vw;
  }
}

@media screen and (min-width: 650px) {
  .food {
    margin-top: 10%;
  }
}

ul {
  list-style: none;
  padding: 0;
}

.tix-section {
  font-family: MoabhoersFF;
  font-size: 5rem;
  color: #5D1A10;
  text-align: center;
  word-spacing: 10px;
}

@media screen and (max-width: 650px) {
  .tix-section {
    margin: 8% 0;
    font-size: 3rem;
  }
}

@media screen and (max-width: 650px) {
  .tix-info {
    margin: 3%;
  }
}

.tix-link > a {
  color: #5D1A10;
}

@media screen and (max-width: 650px) {
  .tix-link {
    margin: 10% 0 10%;
  }
}

/* FOOTER */

footer {
  background-color: #fff;
  padding: .25%;
  font-family: Monthoers;
  text-align: center;
  font-size: 4rem;
}

@media screen and (max-width: 650px) {
  footer {
    padding: 1%;
    font-size: 2rem;
  }
}

.footer-header {
  margin: -4px;
  padding: 8% 0 5%;
  background: #5d1810;
  color: #f5f8e6;
}

@media screen and (max-width: 650px) {
  .footer-header {
    margin: -4px;
    padding: 8% 0 5%;
  }
}

.sponsor-item {
  font-family: helvetica;
  font-size: 1.5rem;
  line-height: 1.65rem;
  color: #5d1810;
  text-transform: uppercase;
  margin: 2% 0 3%;
}

@media screen and (max-width: 650px) {
  .sponsor-item {
    font-size: 1rem;
    margin: 2% 0 3%;
  }
}

.sponsor-list > li {
  margin-bottom: 10%;
}

@media screen and (max-width: 650px) {
  .sponsor-list > li {
    margin-bottom: 10%;
  }
}

.sponsor-list > li > a {
  width: 250px;
  height: auto;
}

.sponsor-list > li > a > img {
  width: 250px;
  height: auto;
}

@media screen and (max-width: 650px) {
  .sponsor-list > li > a > img {
    width: 120px;
    height: auto;
  }
}

@media screen and (max-width: 650px) {
  .sponsor-list > li > a {
    width: 120px;
  }
}

.credit {
  background: #5d1810;
  color: #fff;
  font-size: 2rem;
  letter-spacing: .1rem;
  font-family: Monthoers;
  padding: 3% 0 2%;
}

@media screen and (max-width: 650px) {
  .credit {
    padding: 3% 0 2%;
    font-size: 1rem;
  }
}
