@font-face {
  font-family: "Monthoers";
  src: url('../Monthoers/Monthoers.ttf') format("truetype");
}

html {
  font-size: 16px;
}

body, html {
  padding: 0;
  margin: 0;
}

.bg {
  background: linear-gradient( rgba(149,209,222,1) 32%, rgba(245,248,230,1) 48%, rgba(228,223,206,1) 69%, rgba(142,96,84,1) 87%, rgba(93,24,16,1) 100%);
  height: 100%;
  padding: 0;
}

a {
  text-decoration: none;
}

header {
  width: 100%;
  overflow: hidden;
  position: fixed;
  top: 0px;
  margin: 0;
  padding: 0 .5rem;
  background: #fec23b;
}

.cta {
  display: inline-block;
  width: 30%;
  padding: 0 3rem 0 0;
  font-family: Monthoers;
  color: #fff;
  font-size: 1.5rem;
  letter-spacing: .1rem;
}

@media screen and (max-width: 650px) {
  .cta {
    width: 100%;
    padding: 0;
  }
}

.cta-link {
  text-decoration: none;
  color: #fff;
}

.flash {
  -webkit-animation:brownwhite 5s infinite alternate;
}

@-webkit-keyframes brownwhite {
  0% {
    color: #fff;
  }
  50% {
    color: #85342f;
  }
}

@-webkit-keyframes whitebrown {
  0% {
    color: #85342f;
  }
  50% {
    color: #fff;
  }

  100% {
    color: #85342f;
  }
}

.heading-section {
  text-align: center;
}

.logo {
  display: block;
  max-width: 70%;
  margin: 0 auto;
  padding: 8% 0 0;
}

@media screen and (max-width: 650px) {
  .logo {
    max-width: 90%;
    padding-top: 25%;
  }
}

/* Sunday May 5 Second Line Brewery 9am 3pm vvvv */

.subheading {
  margin: 5rem 0;
  font-size: 5rem;
}

@media screen and (max-width: 650px) {
  .subheading {
    font-size: 2rem;
  }
}

.date, .place {
  font-family: Monthoers;
  color: white;
}

.date {
  text-shadow: 2px 2px 2px #fec23b;
}

@media screen and (max-width: 650px) {
  .date {
    display: block;
    margin: 1% 0 2%;
  }
}

.place {
  color: #5D1A10;
  padding: 1rem 0 .5rem;
  text-shadow: 2px 2px 2px #ffd480;
}

@media screen and (max-width: 650px) {
  .place {
    display: block;
    margin: 0;
  }
}

.bigger {
  letter-spacing: .015rem;
}

.music-title {
  max-width: 300px;
}

@media screen and (max-width: 650px) {
  .music-title {
    width: 220px;
  }
}

.breakfast-title {
  max-width: 450px;
  margin: 5rem 0 0;
}

@media screen and (max-width: 650px) {
  .breakfast-title {
    max-width: 300px;
  }
}

.spacer {
  width: 155px;
}

.list {
  background: white;
  max-width: 450px;
  margin: 0 auto;
  margin-top: -35px;
  padding: 60px 40px;
  border-radius: 25px;
  font-family: Monthoers;
  font-size: 4rem;
  color: #5D1A10;
  text-shadow: 1px 2px 2px #fec23b;
}

.breakfast-list {
  padding-top: 3rem;
}

@media screen and (max-width: 650px) {
  .list {
    width: 250px;
    font-size: 2.5rem;
  }
}

.list > li > a {
  color: #5D1A10;
}

.list > li > a:hover {
  color: #85342f;
}

.smaller {
  font-size: 2.3rem;
}

@media screen and (max-width: 650px) {
  .smaller {
    font-size: 1.4rem;
  }
}

.menu-section {
  margin: 0 auto;
  padding: 1%;
  text-align: center;
}

@media screen and (min-width: 650px) {
  .music,
  .food {
    width: 50vw;
  }
}

@media screen and (min-width: 650px) {
  .food {
    margin-top: 10%;
  }
}

ul {
  list-style: none;
  padding: 0;
}

.tix-section {
  font-family: Monthoers;
  font-size: 5rem;
  color: #5D1A10;
  text-align: center;
  word-spacing: 10px;
}

@media screen and (max-width: 650px) {
  .tix-section {
    margin: 15% 0;
    font-size: 3rem;
  }
}

@media screen and (max-width: 650px) {
  .tix-info {
    margin: 3% 0 0;
  }
}

.tix-link > a {
  color: #5D1A10;
}

@media screen and (max-width: 650px) {
  .tix-link {
    margin: 10% 0 10%;
  }
}

/* FOOTER */

footer {
  background-color: #fff;
  padding: .25%;
  font-family: Monthoers;
  text-align: center;
  font-size: 4rem;
}

@media screen and (max-width: 650px) {
  footer {
    padding: 1%;
    font-size: 2rem;
  }
}

.footer-header {
  margin: -4px;
  padding: 8% 0 5%;
  background: #5d1810;
  color: #f5f8e6;
}

@media screen and (max-width: 650px) {
  .footer-header {
    margin: -4px;
    padding: 8% 0 5%;
  }
}

.sponsor-item {
  font-family: helvetica;
  font-size: 1.5rem;
  line-height: 1.65rem;
  color: #5d1810;
  text-transform: uppercase;
  margin: 2% 0 3%;
}

@media screen and (max-width: 650px) {
  .sponsor-item {
    font-size: 1rem;
    margin: 2% 0 3%;
  }
}

.sponsor-list > li {
  margin-bottom: 10%;
}

.sponsor-list > li:first-child {
  margin-bottom: 1%;
}

@media screen and (max-width: 650px) {
  .sponsor-list > li {
    margin-bottom: 10%;
  }
}

.sponsor-list > li > a {
  width: 250px;
  height: auto;
}

.sponsor-list > li > a > img {
  width: 250px;
  height: auto;
}

@media screen and (max-width: 650px) {
  .sponsor-list > li > a > img {
    width: 120px;
    height: auto;
  }
}

@media screen and (max-width: 650px) {
  .sponsor-list > li > a {
    width: 120px;
  }
}

.credit {
  background: #5d1810;
  color: #fff;
  font-size: 2rem;
  letter-spacing: .1rem;
  font-family: Monthoers;
  padding: 3% 0 2%;
}

@media screen and (max-width: 650px) {
  .credit {
    padding: 3% 0 2%;
    font-size: 1rem;
  }
}
